@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Wie implemeintiere ich Tailwind in meine css Klassen?*/ 




body{
    /* color:black; */
}

h1 {
/* h0 */
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 82px;
line-height: 115%;

/* or 94px */
letter-spacing: -0.03em;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

h2 {
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 52px;
line-height: 115%;
letter-spacing: -0.03em;
}

h3 {
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 115%;
letter-spacing: -0.03em;
} 

h4 {
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 115%;
letter-spacing: -0.03em;
}

h5 {
/* h5 */
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 125%;
letter-spacing: -0.02em;
}

span {
font-family: 'Outfit';
font-style: medium;
font-weight: 600;
font-size: 16px;
line-height: 125%;
opacity: 100%;
}

p {
/* p */
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 125%;
opacity: 80%;
/* or 18px */
letter-spacing: -0.02em;
}
